@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import '~antd/dist/antd.css';

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

}

.cartContent{
  width:200px;
  display: flex;
  
  justify-content: space-between;
  align-items: center;

  /* style={{justifyContent:'space-between',display:'flex',alignItems:'center'}} */
}

.input{
  width: 250px !important;
  outline: none;
  border:0.1px solid black;
  height: 35px;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 15px;
  background-color: white;
}

.login{
  background-color: #202124 !important ;
  color:white !important;
}

.forgotpassword{
  color:grey !important;
  text-align: right !important;
  font-size: 0.8rem;
}

.Ctitle{
    opacity: 0;
}
/* .title:hover{
  color:#fff !important;
  opacity: 1;
} */

.aa:hover + .Ctitle{
    color:#fff !important;
    cursor: pointer !important;
    opacity: 1;
   
   
    background-color: rgba(37, 37, 37, 0.3);
} 

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: red;
  width:100%;
  margin-bottom: 30px;
}

/* media-quaries */

@media(max-width:767px){
  .slider{
    height: 50vh  !important;
  
  }
.mobile{
  display: none;
}
}

@media(min-width:768px){
  .input{
    width:100% !important;
  }
}

@media(min-width:1024px){
  .Ctitle{
    font-size: 2rem !important;
    }
}

@media(max-width:1024px){
 
    .des{
      font-size: 1rem !important;
    }
  .slider{
    height: 60vh !important;
  }
}